HOSTNAME=localhost

FRONTEND_HTTPS_URL=https://localhost:8443
VITE_API_BASE_URL=http://localhost:8080

POSTGRESQL_ROOT_PASSWORD=change_me_root_password
POSTGRESQL_DATABASE=ft_transcendence
POSTGRESQL_USER=ft_user
POSTGRESQL_PASSWORD=change_me_user_password