.title1 {
  font-family: var(--moana);
}

.title2 {
  font-family: var(--magic-owl);
}

.title3 {
  font-family: var(--walt-disney);
}

.customButton {
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  border: none;
}
