.test {
  color: var(--color-primary);
}

.snakeBtn {
  background-color: var(--color-secondary);
  color: var(--color-text);
  border-radius: var(--radius-md);
  padding: var(--space-sm);
  &:hover {
    background-color: var(--color-warning);
    transform: scale(0.95);
  }
}
